<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Home Page</h1>

    {% if user.is_authenticated %}
        <p>You are logged in as: {{ user.username }}</p>
        <a href="{% url 'account_logout' %}" class="btn">Logout</a>
        <p><a href="{% url 'admin:index' %}" class="btn">Go to Admin Panel</a></p>
        <p><a href="{% url 'user_list' %}" class="btn">Manage Users</a></p>
        <p><a href="{% url 'upload_signature' %}" class="btn">Upload Signature</a></p>
        <p><a href="{% url 'submit_request' %}" class="btn">Create New Request</a></p>
        <p><a href="{% url 'view_requests' %}" class="btn">View My Requests</a></p>
        <p><a href="{% url 'user_manage_requests' %}" class="btn">Manage Requests</a></p>


    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'account_login' %}" class="btn">Login</a>
    {% endif %}
</body>
</html>
